<!DOCTYPE html>
<html>
    <head>
        <title>Visualizer</title>
        <meta charset="UTF-8">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>
    </head>

{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
{% endblock %}

{% block content %}
    <div id="app-visualizer">
        <!-- Navbar -->
        <b-navbar type="dark" variant="secondary">
            <b-navbar-brand tag="h1">Decide</b-navbar-brand>
        </b-navbar>

        <div class="voting container">
            <h1>[[ voting.id ]] - [[ voting.name ]]</h1>

            <h2 v-if="!voting.start_date">Votación no comenzada</h2>
            <div v-else-if="!voting.end_date">
                Votación en curso: Información en vivo de votos realizados
                <ul>
                    <li v-for="opt in voting.question.options" :key="opt.number">[[ opt.option ]]: [[ opt.votingCount ]]</li>
                </ul>

                Votos totales: <span>[[ totalVotes ]]</span>
            </div>
            <div v-else>
                <h2 class="heading">Resultadoss:</h2>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Opción</th>
                            <th>Puntuación</th>
                            <th>Votos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="opt in voting.postproc" :key="opt.number">
                            <th>[[opt.option]]</th>
                            <td>[[opt.postproc]]</td>
                            <td class="text-muted">[[opt.votes]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <canvas id="myChart" width="100" height="100"></canvas>
    <canvas id="myChart2" width="100" height="100"></canvas>
    <canvas id="myChart3" width="100" height="100"></canvas>
    <style>
        #myChart {
            width:1800px !important;
            height:500px !important;
        }
        #myChart2 {
            width:500px !important;
            height:500px !important;
        }
        #myChart3 {
            width:1000px !important;
            height:500px !important;
        }
    </style>
    <script>
        var voting = {{voting|safe}};
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-visualizer',
            data: {
                voting: voting,
                totalVotes: 0
            },
            beforeMount() {
                this.init();
            },
            methods: {
                init() {
                    var cookies = document.cookie.split("; ");
                    cookies.forEach((c) => {
                        var cs = c.split("=");
                        if (cs[0] == 'decide' && cs[1]) {
                            this.token = cs[1];
                            this.getUser();
                        }
                    });
                },
                setOptions(options) {
                    this.voting.question.options = options;
                },
                setTotalVotes(votes) {
                    this.totalVotes = votes;
                },
                getData(url) {
                    // Default options are marked with *
                    var fdata = {
                        headers: {
                            'content-type': 'application/json',
                        },
                        method: 'GET',
                    };

                    if (this.token) {
                        fdata.headers['Authorization'] = 'Token ' + this.token;
                    }

                    return fetch(url, fdata)
                        .then(response => {
                            if (response.status === 200) {
                                return response.json();
                            } else {
                                return Promise.reject(response.statusText);
                            }
                        });
                },
                getVotingCount() {
                    return this.getData(`{% url "gateway" "booth" "/votingCount/" %}${this.voting.id}/`);
                }
            }
        });

        var postproc = voting.postproc;
        var question = voting.question.desc;
        var labels = [];
        var votes = [];
        var colours = ['rgba(46, 204, 113,1.0)', 'rgba(230, 126, 34,1.0)', 'rgba(155, 89, 182,1.0)',
         'rgba(241, 196, 15,1.0)', 'rgba(52, 152, 219,1.0)', 'rgba(127, 140, 141,1.0)']

        for(let p of postproc){
            labels.push(p.option);
            votes.push(p.votes);
        }
        var options = {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                y: {
                    ticks:{
                        font:{
                            size:20
                        }
                    }
                },
                x:{
                    ticks:{
                        font:{
                            size:30
                        }
                    }
                }
            },
            plugins: {
                legend:{
                    labels: {
                        font:{
                            size: 30
                        }
                    }
                }
            }
        }


        var options2 = {
            responsive: true,
            maintainAspectRatio: true,
            plugins: {
                legend: {
                    labels: {
                        font: {
                            size: 40
                        }
                    }
                }
            }
   }

        var ctx = document.getElementById("myChart").getContext("2d");
        var myChart = new Chart(ctx, {
        type:"bar",
        data:{
            labels:labels,
            datasets:[{
                    label: question,
                    data:votes,
                    backgroundColor: colours,
                    borderColor: colours,
                    borderWidth: 1
            }]
        },
        options
       });

       var ctx = document.getElementById("myChart2").getContext("2d");
        var myChart2 = new Chart(ctx, {
        type:"pie",
        data:{
            labels:labels,
            datasets:[{
                    label: question,
                    data:votes,
                    backgroundColor: colours,
            }]
        },
        options:{
            responsive: true,
            maintainAspectRatio: false,
            
            plugins: {
                legend:{
                    labels: {
                        font:{
                            size: 40
                        }
                    }
                }
            }
        }
       });
       var fechas = [];
       app.getVotingCount().then(data => {
           console.log(new Date(data[0].created_at));
           for(let p of data){
            fechas.push(new Date(p.created_at));
        }
        console.log(fechas[0]);
        var ctx = document.getElementById("myChart3").getContext("2d");
        var myChart3 = new Chart(ctx, {
           type: 'bar',
           data:{
               labels:fechas,
               datasets:[{
                   label:question,
                   data:votes,
                   backgroundColor: colours,
               }]
           },
           options
       });


        })
    

       

    </script>

    {% if voting.end_date == null %}
    <script src="{% static 'liveresults/liveresults.js' %}"></script>
    {% endif %}
</body>
{% endblock %}
