{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
{% endblock %}

{% block content %}
    <div id="app-visualizer">
        <!-- Navbar -->
        <b-navbar type="dark" variant="secondary">
            <b-navbar-brand tag="h1">Decide</b-navbar-brand>
        </b-navbar>

        <div class="voting container">
            <h1>[[ voting.id ]] - [[ voting.name ]]</h1>

            <h2 v-if="!voting.start_date">Votación no comenzada</h2>
            <h2 v-else-if="!voting.end_date">Votación en curso</h2>
            <div v-else>
                <h2 class="heading">Resultados:</h2>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Opción</th>
                            <th>Puntuación</th>
                            <th>Votos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="opt in voting.postproc" :key="opt.number">
                            <th>[[opt.option]]</th>
                            <td>[[opt.postproc]]</td>
                            <td class="text-muted">[[opt.votes]]</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

    <canvas id="myChart" width="100" height="100"></canvas>
    <style>
        #myChart {
            width:1800px !important;
            height:500px !important;
        }
    </style>
    <script>
        var voting = {{voting|safe}};
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-visualizer',
            data: {
                voting: voting
            }
        });

        var postproc = voting.postproc;
        var question = voting.question.desc;
        var labels = [];
        var votes = [];
        var colours = ['rgba(46, 204, 113,1.0)', 'rgba(230, 126, 34,1.0)', 'rgba(155, 89, 182,1.0)',
         'rgba(241, 196, 15,1.0)', 'rgba(52, 152, 219,1.0)', 'rgba(127, 140, 141,1.0)']

        for(let p of postproc){
            labels.push(p.option);
            votes.push(p.votes);
        }
        var options = {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                y: {
                    ticks:{
                        font:{
                            size:20
                        }
                    }
                },
                x:{
                    ticks:{
                        font:{
                            size:30
                        }
                    }
                }
            },
            plugins: {
                legend:{
                    labels: {
                        font:{
                            size: 30
                        }
                    }
                }
            }
        }

        var ctx = document.getElementById("myChart").getContext("2d");
        var myChart = new Chart(ctx, {
        type:"bar",
        data:{
            labels:labels,
            datasets:[{
                    label: question,
                    data:votes,
                    backgroundColor: colours,
                    borderColor: colours,
                    borderWidth: 1
            }]
        },
        options
       });

    </script>
</body>
{% endblock %}
